<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-2.1.3.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"
            type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"
            type="text/javascript"></script>
    <title>Backbone App</title>


    <style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button-wrapper{
display:flex;
justify-content:space-between;
}





    </style>

</head>
<body>
<div class="container">
    <h1>Teachers Record App</h1>
    <div class="button-wrapper">
        <h3 align="right"><a href="/logout" class="btn btn-danger">Logout</a></h3>
        <h3 align="right"><a href="#/result-Analysis" class="btn btn-success">Result Analysis</a></h3>
    </div>


    <table class="table">
        <thead>
        <tr>
            <th>teacherName</th>
            <th>level</th>
            <th>departmentId</th>
            <th>contactNumber</th>
        </tr>
        <tr>
            <td><input class="form-control teacherName-input" placeholder="TeacherName"></td>
            <td><input class="form-control level-input" placeholder="Level" required></td>
            <td><input class="form-control departmentId-input" placeholder="DepartmentId"></td>
            <td><input class="form-control contactNumber-input" placeholder="ContactNumber"></td>
            <td>
                <button class="btn btn-primary add-teacher">Add</button>
            </td>
        </tr>
        </thead>
        <tbody class="teachers-list"></tbody>
    </table>

    <table class="table">
        <thead>
        <tr>
            <th>userName</th>
            <th>password</th>
            <th>role</th>
        </tr>

        <tr>
            <td><input class="form-control userName-input" placeholder="UserName"/></td>
            <td><input class="form-control password-input" placeholder="Password"/></td>
            <td><select id="roles-input" name="class-name" class="form-control">
                <option value="ROLE_ADMIN">ADMIN</option>
                <option value="ROLE_USER">USER</option>
            </select></td>
            <td>
                <button class="btn btn-primary add-user">Add</button>
            </td>
        </tr>
        </thead>
        <tbody class="users-list"></tbody>
    </table>
</div>

<script type="text/template" class="teachers-list-template">
    <td><span class="teacherName"><%= teacherName %></span></td>
    <td><span class="level"><%= level %></span></td>
    <td><span class="departmentId"><%= departmentId %></span></td>
    <td><span class="contactNumber"><%= contactNumber %></span></td>

    <td>
        <button class="btn btn-warning edit-teacher">Edit</button>
        <button class="btn btn-danger delete-teacher">Delete</button>
        <button class="btn btn-success update-teacher" style="display:none">Update</button>
        <button class="btn btn-danger cancel" style="display:none">Cancel</button>
    </td>

</script>


<script type="text/template" id="Result">

    <h1>Result Analysis</h1>
    <h3 align="right"><a href="/logout" class="btn btn-danger">Logout</a></h3>
    <h3 align="left"><a href="http://localhost:8080/" class="btn btn-success">Back</a></h3>

    <table class="table">
        <tr>
            <th>Standard</th>
            <th>Subject</th>
            <th>Operation</th>
            <th>Result</th>
        </tr>

        <tr>
            <td><select id="standard-input" name="standard-name" class="form-control">
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select></td>

            <td><select id="subject-input" name="subject-name" class="form-control">
                <option value="English">English</option>
                <option value="Maths">Maths</option>
            </select></td>
            <td>
                <button class="btn btn-primary get-avgResult">Avg Marks</button>
            </td>
            <td>
                <p><%= averageMarks %></p>
                <!--                <button class="btn btn-primary get-avgResult"><%= averageMarks.averageMarks %></button>-->

                <!--                <input type="text" value="<%=averageMarks.averageMarks%>">-->
            </td>
        </tr>
    </table>
</script>


<script type="text/template" class="users-list-template">
    <td><span class="userName"><%= username %></span></td>
    <td><span class="password">*************</span></td>
    <td><span class="role"><%= role %></span></td>
</script>


<script type="text/javascript">

		Backbone.Model.prototype.idAttribute = 'teacherId';
<!--		Backbone.Model.prototype.idAttribute = 'userId';-->

    var ProjectRouter = Backbone.Router.extend({
   routes:{
    "result-Analysis":"getResultAnalysis",
   },

   getResultAnalysis:function(){
    var resultViewObj = new ResultView();
   }
   });

   var projRouterObj = new ProjectRouter();
   Backbone.history.start();

    var averageMarks="";
   var ResultModel=Backbone.Model.extend({

    defaults: {
		standard: '7',
		subject: 'Maths'
		},
		url: 'http://localhost:8080/studentResult/'

   });


   // Result View
    var ResultView = Backbone.View.extend({
    el:".container",
    model:new ResultModel(),
    template:_.template($("#Result").html()),
    initialize:function(){
     this.render();
    },
    events:{
    		'click .get-avgResult': 'getAvgResult'
    },


    getAvgResult:function(){
    	this.model.set({
			subject: $('#subject-input').val(),
			standard: $('#standard-input').val(),
		});

       this.model.save(null, {

			success: function(response) {
				console.log("result Created")
				console.log(response.toJSON());
				averageMarks=response.toJSON();
				console.log(averageMarks);
                alert(response.toJSON().averageMarks);
			},
			error: function(err) {
				console.log('Failed to get result!');
			}
		});


},
    render:function(){
    console.log("Inside view  for result");
    this.$el.html(this.template(averageMarks));
    }
   });


// Backbone Model

var Teacher = Backbone.Model.extend({
	defaults: {
		teacherName: 'teacherName',
		level: 'level',
		departmentId: '1',
		contactNumber:'7053872246'
	}
});

// Backbone Collection

var Teachers = Backbone.Collection.extend({
	url: 'http://localhost:8080/teachers/'
});



// instantiate a Collection

var teachers = new Teachers();

// Backbone View for one teacher

var TeacherView = Backbone.View.extend({
	model: new Teacher(),
	tagName: 'tr',
	initialize: function() {
		this.template = _.template($('.teachers-list-template').html());
	},
	events: {
		'click .edit-teacher': 'edit',
		'click .update-teacher': 'update',
		'click .cancel': 'cancel',
		'click .delete-teacher': 'delete'
	},
	edit: function() {
		$('.edit-teacher').hide();
		$('.delete-teacher').hide();
		this.$('.update-teacher').show();
		this.$('.cancel').show();

		console.log("inside update method");

		var teacherName = this.$('.teacherName').html();
		var level = this.$('.level').html();
		var departmentId = this.$('.departmentId').html();
	    var contactNumber = this.$('.contactNumber').html();


		this.$('.teacherName').html('<input type="text" class="form-control teacherName-update" value="' + teacherName + '">');
		this.$('.level').html('<input type="text" class="form-control level-update" value="' + level + '">');
		this.$('.departmentId').html('<input type="text" class="form-control departmentId-update" value="' + departmentId + '">');
		this.$('.contactNumber').html('<input type="text" class="form-control contactNumber-update" value="' + contactNumber + '">');


	},

	update: function() {

		this.model.set('teacherName', $('.teacherName-update').val());
		this.model.set('level', $('.level-update').val());
		this.model.set('departmentId', $('.departmentId-update').val());
		this.model.set('contactNumber', $('.contactNumber-update').val());


		this.model.save(null, {
			success: function(response) {
				console.log("update Teacher")
				console.log('Successfully UPDATED teacher with _id: ' + response.toJSON().teacherId);
			},
			error: function(err) {
				console.log('Failed to update teacher!');
			}
		});
	},
	cancel: function() {
		teachersView.render();
	},
	delete: function() {
		this.model.destroy(
		 {
		 	success: function(response) {
		 		console.log('Successfully DELETED teacher with _id: ' + response.toJSON().teacherId);
		 	},
		    error: function(err) {
		 		console.log('Failed to delete teacher!');
		 	}
		 }
		);
	},
	render: function() {
		this.$el.html(this.template(this.model.toJSON()));
		return this;
	}
});

// Backbone View for all teachers

var TeachersView = Backbone.View.extend({
	model: teachers,
	el: $('.teachers-list'),
	initialize: function() {
		var self = this;
		this.model.on('add', this.render, this);
		this.model.on('change', function() {
			setTimeout(function() {
				self.render();
			}, 30);
		},this);
		this.model.on('remove', this.render, this);

		this.model.fetch({
			success: function(response) {
				_.each(response.toJSON(), function(item) {
					console.log('Successfully GOT teacher with _id: ' + item.teacherId);
				})
			},
			error: function() {
				console.log('Failed to get teachers!');
			}
		});
	},
	render: function() {
		var self = this;
		this.$el.html('');
		_.each(this.model.toArray(), function(teacher) {
			self.$el.append((new TeacherView({model: teacher})).render().$el);
		});
		return this;
	}
});


var teachersView = new TeachersView();


// Backbone Model

var User = Backbone.Model.extend({
	defaults: {
		username: 'userName',
		password: 'password',
		role: 'User',
	}
});

// Backbone Collection

var Users = Backbone.Collection.extend({
	url: 'http://localhost:8080/users/'
});

// instantiate a Collection

var users = new Users();

// Backbone View for one User

var UserView = Backbone.View.extend({
	model: new User(),
	tagName: 'tr',
	initialize: function() {
		this.template = _.template($('.users-list-template').html());
	},

	render: function() {
		this.$el.html(this.template(this.model.toJSON()));
		return this;
	}
});

// Backbone View for all Users

var UsersView = Backbone.View.extend({
	model: users,
	el: $('.users-list'),
	initialize: function() {
		var self = this;
		this.model.on('add', this.render, this);
		this.model.on('change', function() {
			setTimeout(function() {
				self.render();
			}, 30);
		},this);
		this.model.on('remove', this.render, this);

		this.model.fetch({
			success: function(response) {
				_.each(response.toJSON(), function(item) {
					console.log('Successfully GOT user with _id: ' + item.userId);
				})
			},
			error: function() {
				console.log('Failed to get users!');
			}
		});
	},
	render: function() {
		var self = this;
		this.$el.html('');
		_.each(this.model.toArray(), function(user) {
			self.$el.append((new UserView({model: user})).render().$el);
		});
		return this;
	}
});


var userView =new UserView();
var usersView = new UsersView();


$(document).ready(function() {
	$('.add-teacher').on('click', function() {
		var teacher = new Teacher({
			teacherName: $('.teacherName-input').val(),
			level: $('.level-input').val(),
			departmentId: $('.departmentId-input').val(),
			contactNumber: $('.contactNumber-input').val()
		});

		$('.teacherName-input').val('');
		$('.level-input').val('');
		$('.departmentId-input').val('');
		$('.contactNumber-input').val('');

		teachers.add(teacher);
		teacher.save(null, {
			success: function(response) {
				console.log('Successfully SAVED teacher with _id: ' + response.toJSON()._id);
			},
			error: function() {
				console.log('Failed to save teacher!');
			}
		});
	});

	$('.add-user').on('click', function() {
		var user = new User({
			username: $('.userName-input').val(),
			password: $('.password-input').val(),
			role: $('#roles-input').val(),
		});

		$('.userName-input').val('');
		$('.password-input').val('');
		$('#roles-input').val('');

		users.add(user);
		user.save(null, {
			success: function(response) {
				console.log('Successfully SAVED user with _id: ' + response.toJSON()._id);
			},
			error: function() {
				console.log('Failed to save user!');
			}
		});
	});
})




</script>


</body>
</html>