<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.mybatis.Student.entities"/>
        <package name="com.mybatis.Student.dtos"/>
    </typeAliases>
    <mappers>

        <mapper resource="StudentMapper.xml"/>
        <mapper resource="TeacherMapper.xml"/>
        <mapper resource="QueriesMapper.xml"/>
        <mapper resource="UserMapper.xml"/>



    </mappers>
</configuration>


