<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.Student.mappers.TeacherMapper">

    <select id="getAllTeachers" resultType="Teacher">
        select * from Teacher;
    </select>


    <insert id="insertTeacherRecord" parameterType="Teacher" useGeneratedKeys="true" keyProperty="teacherId">
        INSERT INTO Teacher(teacherName,level,departmentId,contactNumber)
        values(#{teacherName},#{level},#{departmentId},#{contactNumber})
    </insert>


    <select id="getTeacherById" resultType="com.mybatis.Student.entities.Teacher" parameterType="Long">
        select * from Teacher where teacherId=#{teacherId}
    </select>


        <delete id="deleteTeacherById" parameterType="Long">
            delete from Teacher where teacherId=#{teacherId};
        </delete>



    <update id="updateTeacherDetails" parameterType="Teacher">
        UPDATE Teacher SET teacherName=#{teacherName},level=#{level},departmentId=#{departmentId},
        contactNumber=#{contactNumber}
        Where teacherId = #{teacherId};
    </update>



</mapper>