<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.Student.mappers.UserMapper">


    <resultMap id="userResultMap" type="com.mybatis.Student.entities.User">
        <result property="id" column="userId"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="role" column="role"/>
    </resultMap>

    <select id="findByUserName" resultType="com.mybatis.Student.entities.User" parameterType="String">
        select username,password,role from User where username=#{userName}
    </select>


    <select id="getAllUsers" resultType="com.mybatis.Student.entities.User">
        select * from User;
    </select>

</mapper>